<div class="contenido">
  <br><br>
  <h1 class="header  green-text titulo">Consultorio Médico</h1>
  <div class="row ">
      <h5 class="header col s12 light subtitulo">Modificar Citas</h5>
  </div>
  <br><br>
  <form #searchForm="ngForm" (ngSubmit)="buscarCitas(searchForm)" >
      <div class="row">
          <div class="input-field col s10 m5 center">
              <div class="search-wrapper focused">
                  <input id="search" placeholder="Buscar por CC" required name="identification"
                  [(ngModel)]="inputSearch" />
              </div>
          </div>
          <div class="col s1 m1 center" id="btn_search_id">
              <button class="btn waves-effect cyan darken-1 btn-small" (click)="buscarCitas()">
                  <i class="material-icons">search</i>
              </button>
          </div>
      </div>
  </form>
  <div class="row subtitulo">
      <label class="flow-text">CC. 1.085.321.459 Pedro Suarez</label>
  </div>
  <div class="search-results col s12 m6">
      <table class="responsive-table">
          <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Especialidad</th>
                <th>op</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of citas;">
                <td>fecha</td>
                <td>hora</td>
                <td>especialidad</td>
                <td>especialista</td>
                <td>
                  <a href="editcita.html"><i class="material-icons save">edit</i></a>
                  <a href="#!"><i class="material-icons save">block</i></a>
                </td>
              </tr>

          </tbody>
      </table>
  </div>
</div>
